.createandedit__post_form {
  // border: 1px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.createandedit__panel {
  display: flex;
  flex-direction: row;

  &_left,
  &_right {
    width: 100%;
    padding: 0 1rem 1rem 1rem;
  }
}

@media only screen and (max-width: 992px),
  (min-device-width: 992px) and (max-device-width: 992px) {
  .createandedit__panel {
    flex-direction: column;
  }
}
