.file-input {
  display: none;
}

.file-upload-btn {
  color: white;
  text-transform: uppercase;
  outline: none;
  background-color: #4aa1f3;
  border-color: #4aa1f3;
  font-weight: bold;
  padding: 0.5rem 1em;
  margin-bottom: 1rem;
}

.container-zone {
  margin: 1rem 0 1rem 0;

  & p {
    color: red;
    text-align: center;
  }
}

.drop-container {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.25rem dashed #4aa1f3;
  cursor: pointer;

  & > .drop-message {
    text-align: center;
    color: #4aa1f3;
    font-family: Arial;
    font-size: 1.25rem;

    & > .upload-icon {
      width: 3rem;
      height: 3rem;
      padding-top: 2rem;
      margin: 0 auto;
      background: url(../images/upload.png) no-repeat center center;
      background-size: 100%;
      text-align: center;
    }
  }
}

.file-display-container {
  width: 100%;

  .file-status-bar {
    // border: 1px solid red;
    position: relative;
    margin-top: 0.75rem;
    line-height: 3rem;
  }

  .file-type-logo {
    width: 3rem;
    height: 3rem;
    background: url(../images/generic.png) no-repeat center center;
    background-size: 100%;
    position: absolute;
  }

  .file-type-text {
    margin-top: 1.5rem;
    padding: 0 4px;
    position: absolute;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1rem;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #abc;
    background: #0080c8;
    color: #fff;
    text-transform: uppercase;
  }

  .file-name,
  .file-error {
    margin-left: 3.125rem;
    color: #4aa1f3;
    position: relative;
    cursor: pointer;
  }

  .file-error {
    color: #9aa9bb;
  }

  .file-size {
    color: #30693d;
    margin: 0 0.5rem 0 0.5rem;
    color: #444242;
    font-weight: 700;
  }

  .file-remove {
    width: 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
    color: black;
  }

  .file-error-message {
    color: red;
  }
}

.display-image {
  z-index: 999;
  display: none;
  overflow: hidden;

  & > .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.66);
    position: absolute;
    top: 0;
    left: 0;
  }

  & > .modal-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15rem;
    height: 15rem;
    background-size: contain;
    background-repeat: no-repeat;

    & > .close-dropzone {
      cursor: pointer;
      position: absolute;
      top: 0.1rem;
      right: 1rem;
      color: black;
      font-size: 1.75rem;
      font-weight: bold;
      transition: 0.3s;
    }
  }
}

.upload-modal {
  z-index: 999;
  display: none;
  overflow: hidden;

  & > .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.66);
    position: absolute;
    top: 0;
    left: 0;
  }

  & > .progress-container {
    background: white;
    width: 20rem;
    height: 15rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    & > .close-dropzone {
      padding: 0 1rem 0 1rem;
      display: flex;
      justify-content: flex-end;
      color: black;
      cursor: pointer;
      font-size: 1.75rem;
      font-weight: bold;
      transition: 0.3s;
    }

    & > span {
      display: flex;
      justify-content: center;
      padding-top: 1.25rem;
      font-size: 1.25rem;
    }

    & > .progress {
      width: 90%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 1.25rem;
    }
  }
}

.error {
  color: red;
}
