.photos {
  margin: 0 1rem 1rem 1rem;
  height: 15vh;
  border: 1px dashed #aeaeb5;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: scroll;

  &-edit > .image-style {
    width: 6rem;
    height: 6rem;
    margin: 0.5rem 0.5rem 0 0;
  }
}

.fa-trash-alt {
  font-size: 1.5rem;
  position: relative;
  right: 6rem;
  top: -1rem;
  color: wheat;

  &:hover {
    cursor: pointer;
    color: white;
    opacity: 0.5;
  }
}
/* SCROLL */
.photos::-webkit-scrollbar {
  width: 0.75rem; /* largeur scroll */
}
.photos::-webkit-scrollbar-track {
  background: #aeaeb5; /* couleur de scroll */
  border-radius: 10px;
  // height: 75vh;
}
.photos::-webkit-scrollbar-thumb::-webkit-scrollbar-thumb {
  background-color: green; /* couleur de pointeur dans scroll */
  border-radius: 10px;
  border: 1px solid red;
}
.photos::-webkit-scrollbar-thumb:hover {
  background: red;
  border-radius: 1rem;
}
.photos::-webkit-scrollbar-thumb:active {
  background: black; /* When you selected scroll*/
}
