@font-face {
  font-family: 'MontserratBold';
  src: local('Montserrat'),
    url(./Montserrat/Montserrat-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'MontserratExtraLight';
  src: local('Montserrat'),
    url(./Montserrat/Montserrat-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'MontserratBlack';
  src: local('Montserrat'),
    url(./Montserrat/Montserrat-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'MulishBold';
  src: local('Mulish'), url(./Mulish/Mulish-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'MulishSemiBold';
  src: local('Mulish'), url(./Mulish/Mulish-SemiBold.ttf) format('truetype');
}
